div .seleccionIngredientes{
  padding: 20px 40px;
}

#ulIngredientes{
  position: relative;
  left: -30px;  
}

.btn-group{
  padding-top: 20px;
  padding-right: 10px;
}

.lblCheckIngrediente{
  
}

/*RECETAS ENCONTRADAS==============*/

.recetaEncontrada-caja{
  border: 1px solid black;
  background-color: rgb(196, 196, 196);
  padding: 10px 10px;
  margin-bottom: 10px;
}

.recetaEncontrada-caja:hover{
  background-color: rgb(58, 58, 58);
  cursor: pointer;
  color: #ccc;
}