
body{
  background: rgb(236,236,233);
background: linear-gradient(180deg, rgba(236,236,233,1) 3%, rgba(242,241,241,1) 48%, rgba(236,236,233,1) 96%);
}

/*LOGO*/
i{
  height: 42px;
  font-size: 33px;
  color: rgb(23, 35, 145);
}

.fa-bowl-food{
  padding: 1px 17px;
}

.fa-utensils{
  padding: 1px 0;
}

.navbar{
  color: #171717;
}

.navbar .container{
  justify-content: center;
}

.seleccionIngredientes{
  padding: 20px 40px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 15px;
}

.mis-ingredientes{
  padding: 20px 40px;
  margin: 20px 0px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 15px;
}

.container-btn{

  display: flex;
  justify-content: center;
}

.container-btn button{
  width: 20%;
}


.container-mis-ingredientes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.caja-mis-ingrediente{
  width: 10%;
  border-radius: 5px;
  background: rgb(218,52,221);
background: linear-gradient(180deg, rgba(218,52,221,1) 52%, rgba(132,24,191,1) 100%);
  color: #ffffff;
  margin: 4px;
  padding: 4px;
  text-align: center;
}


#ulIngredientes{
  position: relative;
  left: -30px;  
}

.btn-group{
  padding-top: 20px;
  padding-right: 10px;
}

.lblCheckIngrediente{
  
}

/*INGREDIENTES ENCONTRADOS==========*/
.div-ingredientes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*RECETAS ENCONTRADAS==============*/

.recetaEncontrada-caja{
  border: 1px solid black;
  border-radius: 11px;
  background-color: rgb(255, 255, 255);
  padding: 10px 10px;
  margin-bottom: 10px;
  cursor: pointer;
  color: rgb(23, 35, 145);
}

.preparacion-caja{
  border: 1px solid black;
  border-radius: 11px;
  background-color: rgb(255, 255, 255);
  padding: 10px 10px;
  margin-bottom: 10px;
  color: rgb(23, 35, 145);
  font-weight: 500;
}

.preparacion-caja li:hover{
  color: rgb(15, 23, 92);
  font-weight: 700;

}


.recetaEncontrada-caja:hover{
  background-color: rgb(75, 70, 143);
  color: #ffffff;
}

.divima{
  /* The code that you need to copy */
  position: relative;
  height: 40px;
  
}

.imge{
  /* clip-path: polygon(100% 0, 0 0, 100% 30%); */
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/*PREPARACION ================*/
.preparacion-pasos{
  padding-top: 8px;
}