

div .seleccionIngredientes{
  padding: 20px 40px;
}

#ulIngredientes{
  position: relative;
  left: -30px;  
}

.btn-group{
  padding-top: 20px;
  padding-right: 10px;
}

.lblCheckIngrediente{
  
}

/*RECETAS ENCONTRADAS==============*/

.recetaEncontrada-caja{
  border: 1px solid black;
  background-color: rgb(196, 196, 196);
  padding: 10px 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.recetaEncontrada-caja label{
  cursor: pointer;
}

.recetaEncontrada-caja:hover{
  background-color: rgb(58, 58, 58);
  color: #ccc;
}

.divima{
  /* The code that you need to copy */
  position: relative;
  height: 40px;
  
}

.imge{
  /* clip-path: polygon(100% 0, 0 0, 100% 30%); */
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}